<div class="container">
  <div class="row options-desc">
    <ul>
      <li class="text-default">N1</li>
      <li class="text-default">&rsaquo;</li>
      <li class="text-default">action figures</li>
      <li class="text-default">&rsaquo;</li>
      <li class="text-primary">Super Mario</li>
    </ul>
  </div>
  <div class="row">
    <div class="col col-2">
      <img class="mini-product" src="../../assets/img/mini-mario.png">
      <img class="product" src="../../assets/img/mario.png">
    </div>
    <div class="col col-2">
      <div class="title-details">
        <div class="details">
          <h1 class="text-default text-light">
            Action figure bombeiro 
            Mario topzeira das galáxias
          </h1>
        </div>
      </div>
      <div class="purchase-details">
        <div class="details details-sm">
          <br>
          <p class="text-default text-light">
            de R$ 189,90
          </p>
          <p class="text-default text-light m-t">
            por <b class="text-sale text-primary">R$ 149,00</b>
          </p>
          <button type="button" class="btn-purchase m-t2 m-b" (click)="onPurchase()">COMPRA AE</button>
        </div>
      </div>
      <div class="details">
        <div class="box-freight">
          <h5 class="m-b">CALCULE O FRETE</h5>
          <input type="text" placeholder="00000" class="input-freight">
          <input type="text" placeholder="000" class="input-freight">
          <button type="button" class="button-freight">Calcular</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="text-regular text-secundary m-t" style="text-align: center">Descrição do Produto</h3>
    <p class="text-default m-t2">
      Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan 
      dari sebuah halaman saat ia melihat tata letaknya. Maksud penggunaan Lorem Ipsum adalah 
      karena ia kurang lebih memiliki penyebaran huruf yang normal, ketimbang menggunakan kalimat 
      seperti "Bagian isi disini, bagian isi disini", sehingga ia seolah menjadi naskah Inggris yang 
      bisa dibaca. Banyak paket Desktop Publishing dan editor situs web yang kini menggunakan Lorem Ipsum 
      bagai contoh teks. Karenanya pencarian terhadap kalimat "Lorem Ipsum" akan berujung pada banyak situs 
      web yang masih dalam tahap pengembangan. Berbagai versi juga telah berubah dari tahun ke tahun, kadang
      karena tidak sengaja, kadang karena disengaja (misalnya karena dimasukkan unsur humor atau semacamnya)
    </p>
  </div>
  <div class="row">
      <h3 class="text-regular text-secundary m-t" style="text-align: center">Quem viu, viu também</h3>
      <div class="mini-products">
        <div class="box-mini-products">
          <div class="content-mini-products">
            <img src="../../assets/img/product-one.png" class="img-product">
            <p class="text-default m-t">Action Figure Doctor Strange e Burming Flame Set - S.H.Figuarts</p>
            <p class="text-default m-t">de R$ 725,90</p>
            <h3 class="text-primary m-t">por R$ 624,90</h3>
          </div>
        </div>
        <div class="box-mini-products m-lr">
          <div class="content-mini-products">
            <img src="../../assets/img/product-two.png" class="img-product">
            <p class="text-default m-t">Action Figure Doctor Strange e Burming Flame Set - S.H.Figuarts</p>
            <p class="text-default m-t">de R$ 725,90</p>
            <h3 class="text-primary m-t">por R$ 624,90</h3>
          </div>
        </div>
        <div class="box-mini-products">
          <div class="content-mini-products">
            <img src="../../assets/img/product-tree.png" class="img-product">
            <p class="text-default m-t">Action Figure Doctor Strange e Burming Flame Set - S.H.Figuarts</p>
            <p class="text-default m-t">de R$ 725,90</p>
            <h3 class="text-primary m-t">por R$ 624,90</h3>
          </div>
        </div>
      </div>
</div>
<app-modal [receiveOpenModal]="modal"></app-modal>

