.options-desc ul {
    padding:0px;
    margin:0px;
    margin-top: 13px;
    margin-left: 22px;
    list-style:none;
}
.options-desc ul li {
    display: inline;
    margin-right: 10px;
    font-size: 14px;
}
.product {
    width: 90%;
    padding-left: 20px;
}
.mini-product {
    float: left;
    width: 10%;
}
    @media (max-width: 700px) {
        .mini-product {
            display: none;
        }
        .product {
            width: 80%;
            margin-left:40px;
            margin-bottom: 20px;
        }
    }
.details {
    margin-left: 15px;
}
    @media (max-width: 700px) {
        .details-sm {
            text-align: center;
        }
    }
.title-details {
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 30px;
    font-size: 100%;
}
    @media (max-width: 700px) {
        .title-details {
            font-size: 80%;
        }
    }
.purchase-details {
    background-color: #F8F8F8;
}
    @media (max-width: 700px) {
        .purchase-details {
            background-color: #fff;
        }
    }
.text-sale {
    font-size: 32px;
}
.btn-purchase {
    background-color: #71CE4B;
    color: #fff;
    height: 40px;
    width: 150px;
    font-family: Raleway-bold;
    border-radius: 5px;
    font-size: 16px;
}
.btn-purchase:hover {
    background-color: #4da02c;
    transition: 1s;
}
    @media (max-width: 700px) {
        .btn-purchase {
            height: 50px;
            width: 160px;
            font-size: 21px;
        }
    }
.box-freight {
    background-color: #4EC2DD;
    color: #fff;
    font-family: Raleway-bold;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
}
.input-freight {
    background-color: #fff;
    border-radius: 5px;
    height: 35px;
    margin-right: 8px;
}
    @media (max-width: 700px) {
        .input-freight {
            width: 100%;
            margin-bottom: 10px;
        }
    }
.button-freight {
    background-color: #0F4156;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    font-family: Raleway-bold;
    width: 100px;
}
    @media (max-width: 700px) {
        .input-freight {
            width: 100%;
            margin-bottom: 10px;
        }
        .button-freight {
            width: 100%;
        }
    }
::placeholder {
    padding-left: 10px;
}
.mini-products {
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
}
    @media (max-width: 700px) {
        .mini-products {
            width: 100%;
        }
    }
.box-mini-products {
    width: 31%;
    height: 380px;
    float: left;
    background-color: #f8f8f8;
}
.content-mini-products {
    padding: 10px;
}
.img-product {
    width: 100%;
}