.logo-footer {
    width: 20%;
    float: left;
    height: 60px;
    background-color: #0F4156;
}
.logo {
    margin-left: 60%;
    margin-right: 10px;
    height: 44px;
    margin-top: 10px;
}
    @media (max-width: 800px) {
        .logo {
            margin-left: 5px;
        }
    }
.text-footer {
    position: relative;
    float: left;
    width: 80%;
    height: 60px;
    color: #fff;
    background-color: #4EC2DD;
}
.text-footer p {
    margin-top: 21px;
    margin-left: 15px;
}
