<footer>

    <div class="logo-footer">
      <img class="logo" src="../../assets/img/logo-light.png">
    </div>
      
    <div class="text-footer">
      <p>Agência N1 - Todos os direitos reservados</p>
    </div>
  
  </footer>
