<div id="openModal" [ngClass]="{'display-modal' : receiveOpenModal}" class="modal">
   <div>
      <img class="success-icon" src="../../assets/img/success.png">
      <h2 class="text-primary text-modal">PRODUTO ADICIONADO AO CARRINHO</h2>
      <button type="button" (click)="closeModal()" class="modal-button">OK!</button>   
   </div>
</div>
