.display-modal {
    display: none;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000000cc;
	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	text-align: center;
	padding: 5px 20px 13px 20px;
	background-color: #fff;
}
.modal-button {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	background-color: #0F4156;
	font-family: Raleway-bold;
	margin: 0 0 50px 0;
}
.success-icon {
	margin: 50px 0 50px 0;
}
.text-modal {
	margin: 0 0 50px 0;
}