/*
 Agencia N1 Project
 Author: Patrick Magioli
*/

/* raleway-regular - latin */
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-light;
    src: url(assets/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: Raleway-bold;
    src: url(assets/fonts/Raleway-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style:none;
    border:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Raleway;
}
button {
    cursor: pointer; 
}
/* Set default placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C8C8C8;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C8C8C8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #C8C8C8;
}

body {
    background-color: #fff;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

/* Color Palette */
.bg-primary {
    background-color: #4EC2DD;
}
.bg-secundary {
    background-color: #0F4156;
}
.bg-success {
    background-color: #71CE4B;
}
.text-primary {
    color: #4EC2DD;
}
.text-secundary {
    color: #0F4156;
}
.text-default {
    color: #C8C8C8;
}

/* Default Border */
.border-bottom {
    border-bottom: 1px solid #E5E5E5;
}
.border-top {
    border-top: 1px solid #E5E5E5;
}
.border-right {
    border-right: 1px solid #E5E5E5;
}
.border-left {
    border-left: 1px solid #E5E5E5;
}

/* Margin */
.m-t {
    margin-top: 10px;
}
.m-t2 {
    margin-top: 21px;
}
.m-b {
    margin-bottom: 10px;
}
.m-l {
    margin-left: 10px;
}
.m-r {
    margin-right: 10px;
}
.m-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-lr {
    margin-left: 10px;
    margin-right: 10px;
}

/* fonts weight*/
.text-regular {
    font-family: Raleway;
}
.text-bold {
    font-family: Raleway-bold;
}
.text-light {
    font-family: Raleway-light;
}

/* Container */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 0 20px;
}
    @media (min-width: 900px) {
        .container {
            max-width: 900px;
            padding: 0;
        }
    }
/* Row */
.row {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 30px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* Collumn */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* Collumn 2 */
    @media (min-width: 780px) {
        .col-2 {
            width: 50%;
        }
    }

    /* Collumn 3 */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

    /* Sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }