.nav {
    border-bottom: 1px solid #E5E5E5;
    height: 51px;
}
    @media (max-width: 800px) {
        .nav {
            height: 90px;
        }
    }
.nav-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 5px;
}
.logo {
    height: 44px;
    margin-left: 10px;
}

.logo-nav {
    width: 15%;
    float: left;
}
.options-nav {
    width: 25%;
    float: left;
}
.options-nav ul {
    padding:0px;
    margin:0px;
    margin-top: 13px;
    list-style:none;
}
.options-nav ul li {
    display: inline;
    margin-right: 20px;
}
.options-nav-mobile {
    display: none;
}
    @media (max-width: 800px) {
        .options-nav {
            display: none;
        }
        .logo-nav {
            width: 25%;
            float: left;
        }
        .options-nav-mobile {
            display: block;
        }
    }
.search-nav {
    width: 55%;
    float: left;
}
.cart-nav {
    width: 5%;
    float: left;
}
.search-bar {
    width: 90%;
    height: 42px;
    border: 1px solid #E5E5E5;
    border-left: 0px;
    border-radius: 0 6px 6px 0;
    font-family: Raleway-light;
}
.search-bar-icon {
    background-color: #fff;
    width: 10%;
    height: 42px;
    border: 1px solid #E5E5E5;
    border-right: 0px;
    border-radius: 6px 0 0 6px;
    cursor: default;
}
.cart-icon {
    width: 32px;
    margin: -12px 0 0 5px;
}
.search-icon {
    height: 12px;
}
.badge {
    background: #4EC2DD;
    border-radius: 100%;
    color: #fff;
    z-index: 3;
    font-weight: 600;
    padding: 2px 6px;
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 5px rgba(225,225,225,.3);
    font-size: 13px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
    top: -1px;
}
.autocomplete {
    background-color: #fff;
    font-family: Raleway-light;
    border: 1px solid #f3f3f3;
    z-index: 99999;
    position: absolute;
    margin-left: 45px;
}
.autocomplete li {
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 5px;
    height: 40px;
}
.autocomplete li a {
    cursor: pointer;
    margin: 0 30px 0 10px;
}