
<div class="nav">
  <div class="nav-content">
    <div class="logo-nav">
      <img class="logo" src="../../assets/img/logo.png">
    </div>
    <div class="options-nav">
      <ul class="text-primary">
        <li><a>Games</a></li>
        <li><a>Presentes</a></li>
        <li><a class="text-bold">SALE</a></li>
      </ul>
    </div>
    <div class="search-nav">
      <button type="button" class="search-bar-icon">
        <img class="search-icon" src="../../assets/img/search.png">
      </button>
      <input type="text" [formControl]="myControl" placeholder="Digite o que procura" class="search-bar">
      <ul class="autocomplete">
        <li *ngFor="let product of filteredOptions | async"><a>{{ product }}</a></li>
      </ul>
    </div>
    <div class="cart-nav">
        <span class="badge">{{ quantity }}</span>
        <img class="cart-icon" src="../../assets/img/cart.png">
    </div>
    <div class="options-nav options-nav-mobile">
        <ul class="text-primary">
          <li><a>Games</a></li>
          <li><a>Presentes</a></li>
          <li><a class="text-bold">SALE</a></li>
        </ul>
      </div>
  </div>
</div>